*,
*::after,
*::before{
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;

}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}



body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0); 
}


.mainContainer{
    margin: 0 auto;
    width: 1375px;   
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 37.1% 1fr;
    justify-content: center;
    background: no-repeat -70px 0px url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1862&q=80);
    background-size: contain;
}


/*LOGO*/
.logoContainer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

.logoBackground{
    height: 143px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.438);
    padding-top: 5px;
    margin-bottom: -4px;
}

.odinTitle{
    font-family: Norse-Bold;
    font-size: 5.75rem;
}

.logoBackground > img{
    width: 91px;
    height: fit-content;
}


/*INTRO*/
.introContainer{
    background-color: #f9fafc;;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: end;
    padding: 0 0 40px 45px;
}
.introContainer > p{
    font-size: 1.35rem;
    font-weight: 700;
}


/*FORM*/

.formContainer{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 12px -6px rgba(0, 0, 0, 0.253);   
    z-index: 1; 
}

.formGroup{
    position: relative;
    left: 45px;
    width: 570px;
    height: 227px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: space-around;
}

.form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 70px;
}

label{
    display: flex;
    flex-flow: column;
    word-wrap: nowrap;
    width: 250px;
    font-weight: 600;    
    font-size: 0.8rem;
}

input{
    font-size: 1.05rem;
    margin-top:3px;
    padding:0.12rem;
    border:none;
}

input:invalid{
    outline: 2px solid red;
}

input:valid{
    outline: 2px solid green;
}

input:placeholder-shown{
    outline: 2px solid rgba(0, 0, 0, 0.185);
}

input:focus {
    outline: 2px solid rgb(0, 140, 255);
}

/*CREDITS*/
.imageCreditsContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 0.8rem;
    color: white;    

    }

.imageCreditsContainer a{
    color: white;
}


/*BUTTONS*/
.buttonContainer{
    background-color: #f9fafc;
}

.buttonGroup{
    position: relative;
    width: 50%;
    left: 46px;
    top: 34px;
}

.buttonContainer button{
    background-color: #596d48;
    padding: 0.8rem 3.05rem;
    border:none;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.08rem;
    font-weight: 700;
    margin-bottom: 19px;
    cursor: pointer;

}

.buttonContainer p{
    font-weight: 600;
}

.buttonContainer a{
    color: #596d48;
    text-decoration: none;
}

